.noMatchContainer a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
     cursor: pointer;
     font-size: small;
     border: 0.1rem solid black;
     background-color: black;
     color: white;
     text-decoration: none;
 }