.footer-container{
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 20px;
    bottom: 0;
    height: 3px;
}
.email{
    margin-left: auto;
    font-size: smaller;
    position: relative;
    left: 16px
}