.header-container{
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 20px;
}
.name-container{
    margin-left: auto;
}
.name{
    position: relative;
    left: 14px;
}
.designation{
    font-size: small;

}