.home-content-container {
    border: 0.2rem solid black;
    padding: 1.25rem;
    margin: 0.25rem 0.125rem 0.25rem 0rem;
    min-height: 70vh;
}

.menu-container {
    width: 50%;
    margin-bottom: 5rem;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
   margin: 0.5rem;
   padding: 0.5rem;
    cursor: pointer;
    font-size: small;
    border: 0.1rem solid black;
    background-color: #f3f3f3;
}

.active {
    background-color: black;
    color: #f3f3f3;
}

.objective {
    width: 80%;
    margin: auto;
    text-align: justify;
}

@media only screen and (max-width: 600px){
    ul{
        flex-direction: column;
        display: block;
        height: 100%;
        width: 200%;
    }
}