.header{
    display: flex;
}
.duration{
    margin-left: auto;
}
.companyName{
    font-size: large;
}
.role{
    font-size: small;
}
.description{
    margin: 2rem 1rem 2rem 2rem;
    width: 80%
}
li{
    margin: 0.5rem;
    color: azure !important;
}