.page-container{
    min-height: 39rem;
    display: flex;
    flex-direction: column;
 }
 .footer{
    margin-top: auto;
    height: 2rem;
 }
 .test{
    color: red;
 }
 .body-content{
   height: 5rem;
 }