.headerContainer{
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 1.25rem;
}
.nameContainer{
    margin-left: auto;
}
.name{
    position: relative;
    left: 1rem;
}
.designation{
    font-size: small;

}