.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 0;
  background-color: white;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: auto;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.navbar a:hover {
  background-color: #333;
  color: white;
}

.navbar a.active {
  background-color: #4f46e5;
  color: white;
  box-shadow: 0 0 6px #4f46e5;
}
