@media (max-width: 600px){
    .menuContainer {
        flex-direction: column;
        display: block;
        height: 100%;
        width: 200%;
        margin: auto;
    }
}

.menuContainer {
    width: 50%;
    margin-bottom: 5rem;
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
}

.menuContainer a {
   margin: 0.5rem;
   padding: 0.5rem;
    cursor: pointer;
    font-size: small;
    border: 0.1rem solid black;
    background-color: black;
    color: white;
    text-decoration: none;
}


