.skillsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.category {
  padding: 1rem;
  background: #f4f4f4;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  color: #333;

  &:hover {
    transform: translateY(-3px);
    background: #e9e9e9;
  }
}

.heading {
  font-weight: bold;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #111;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: #333;
}
