.footerContainer{
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 1.25rem;
    bottom: 0;
    height: 0.25rem;
}
.email{
    margin-left: auto;
    font-size: 0.6rem;
    position: relative;
    left: 1rem;
}