.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.content-container {
  flex: 1;
  padding: 2rem;
  background-color: #121212;
  color: white;
}

.footer {
  height: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: #0f0f0f;
  color: #ccc;
}
