.page-container{
  display: flex;
  flex-direction: column;
}
.footer{
  margin-top: auto;
  height: 2rem;
}
.home-content-container {
  border: 0.2rem solid black;
  padding: 1.25rem;
  margin: 0.25rem 0.125rem 0.25rem 0rem;
  min-height: 70vh;
}
.objective {
  width: 90%;
  margin: auto;
  text-align: justify;
}
